@import "src/common-variables";

.Input {
  cursor: text;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 8px 4px;
  border: 1px solid $green;
  box-sizing: border-box;
  border-radius: 4px;

  .InputText {
    color: $dark-green;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
  }

  .Axis {
    color: white;
    background: none;
    border: none;
    outline: none;
  }
}
