@import "src/common-variables";

.Button {
  background-color: transparent;
  border: none;
  color: $grey;
  border-radius: 4px;
  padding: 6px 12px;
  height: 36px;
  line-height: 24px;
  cursor: pointer;

  &:not(:disabled) {
    cursor: pointer;
  }

  &.Outlined {
    color: $white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border: 2px solid $green;
    border-radius: 10px;
    padding: 6px 42px;
  }

  &:disabled {
    cursor: unset;
    opacity: 0.8;
  }

  &.Text {
    font-weight: bold;
    &:hover {
      background: rgba(white, 0.1);
    }
  }

  &.Contained {
    font-weight: bold;
    background: $green-gradient;
    text-transform: uppercase;
    color: $text-green;
    font-size: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  }

  &.Normal {
    padding: 6px 12px;
    height: 36px;
    line-height: 24px;
  }

  &.Small {
    padding: 4px 8px;
    height: 30px;
    line-height: 22px;
  }

  &.Big {
    padding: 8px 16px;
    height: 42px;
  }
}
