@import "../../../../common-variables";

.rectangleList {
  width: 397px;
  height: 598px;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 16px;

  background: $background-blue;
  border-radius: 10px;
  margin: 0 24px;
}
