.avatar {
  color: #D0CFD5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: none;
  border-radius: 100%;
  border: 1px solid rgba(3, 244, 167, 1);
}
