@import "src/common-variables";

.NavBar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .NavButton {
    color: $grey;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    border: none;
    height: 64px;
    padding: 0 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;



    &.active {
      background: -webkit-linear-gradient(rgba(43, 166, 161, 1), rgba(3, 244, 167, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 2px solid $green;
    }
  }
}
