@import "src/common-variables";

.Page {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  position: static;
  height: 64px;
  left: 0;
  right: 0;
  top: 0;

  background: $purple;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.BreadcrumbsBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 24px;
}

.pointsPage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.PointsCanvas {
  margin: 0 24px 0 0;

  .canvas {
    width: 100%;
    height: 477px;
    border-radius: 10px;
    border: 1px solid $border-blue;
  }
}


