$green: #03f4a7;
$dark-green: #22AB7F;
$purple: #1B1538;
$grey: #8c8ebe;
$white: rgba(205, 203, 209, 1);
$text-green: rgba(20, 52, 62, 1);
$border-blue:rgba(16, 49, 83, 1);
$background-blue: #0A1929;
$point-item-background-blue: rgba(0, 30, 60, 1);
$green-gradient: linear-gradient(135deg, #2ba6a1 0%, #03f4a7 100%)
